body {
    background-color: white;
    color:green;
}

h1 {
    color: navy;
    margin-left: 20px;
}

td {
    margin:0;
    padding:0;
    border-collapse: collapse;
    overflow:hidden;
    margin:auto;
}

td.chat {
    margin:auto;
    padding:0;
    border-collapse: collapse;
    overflow:hidden;
}

tr {
    margin:0;
}

tr.chatRow {
    margin:16px;
}

table.mainTable {
    margin:0;
    padding:0;
    border:1;
    border-collapse: collapse;
    display:inline-block;
    overflow:scroll;
    table-layout:auto;
    background-color:black;
    border-color:white;
    width:100%;
    height:100%;
}

table.videoMainContainer {
    margin:0;
    padding:0;
    border:1;
    border-collapse: collapse;
    display:inline-block;
    overflow:scroll;
    table-layout:auto;
    background-color:black;
    border-color:white;
}

video {
    width:100%;
    height:100%;
    controls:true;
    object-fit:contain;
}

video.videoMain {
    z-index:-1;
    object-fit:contain;
}

video.videoLocal {
    width:128px;
    height:96px;
}

video.videoChild {
    height: 320px;
    width: 320px;
}

p.videoLabel {
    z-index:1;
    background-color:black;
    color:green;
    width:100px;
}

div.localPreview {
    position:fixed;
    top:2%;
    left:2%;
    width:128px;
    height:96px;
}

div.mainDiv {
  width:50%;
  height:90%;
  margin:auto;
}

div.videoContainerDiv {
  width:320px;
  height:240px;
}

body {
  background-color:black;
}

p {
    font-size:14pt;
    color:green;
}

p.controlsPara {
    position:relative;
    top:50px;
    z-index:1;
    width:200px;
    background-color:black;
}

p.emptyRoomLabel {
    position:relative;
    top:10px;
    left:20px;
}

button.playButton {
    width:32px;
    height:32px;
    position:relative;
    left: 30px;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url(/content/img/unmute.png);
    z-index:1;
}

button.stopButton {
    width:32px;
    height:32px;
    position:relative;
    left: 96px;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url(/content/img/stop.png);
    z-index:1;
}

select.mediaSelect {
    width:100px;
}

iframe.chatFrame {
}

@keyframes loadingAnimation {
    from {background-color: gray;}
    to {background-color: white;}
}
