
h1 {
    color: navy;
    margin-left: 20px;
}

/*
button {
    font-size: larger;
}

select {
    font-size: larger;
}

*/
td {
    font-size: smaller;
}

body.outerBody {
    color: white;
    margin:8 8 8 8;
    border-collapse: scroll;
    height: 85%;
    width: 70%;
    min-width: 640px;
}

body.chatBody {
    text-size:smaller;
}

tr.videoCellRow {
}

td.videoCell {
    text-align: left;
}

td.chat {
    /*
    width:30%;
    */
    min-width:350px;
}

td.tdPresenter {

}

tr.chatRow {
}

table.mainTable {
    table-layout:auto;
    background-color:#000000d2;
    background-image: url(%$LOBBYIMAGEURL$%);
    background-repeat:no-repeat;
    background-size:100%;
    background-blend-mode: soft-light;
    font-size:smaller;
    position:relative;
    height:100%;
}

table.videoMainContainer {
    border-width:2px;
    table-layout:auto;
    background-color:transparent;
    border-color:gray;
}

video {
    controls: true;
    border-width:4;
    border-color:white;
}

table.localPreviewTable {
    border-width:2;
    overflow:hidden;
    table-layout:auto;
    border-color:white;
    background-color:black;
}

video.videoMain {
    object-fit:contain;
    max-width:1024px;
}

video.videoLocal {
    width:128px;
    height:72px;
}

video.videoChild {
}

t.videoNameText {
}

p.videoLabel {
    background-color:transparent;
    color:white;
    width:200px;
}

div.localPreview {
    position:fixed;
    top:3%;
    left:3%;
    width:5%;
    height:15%;
}

div.videoContainerDiv {
  padding: 0px;
  border-collapse: collapse;
  overflow: hidden;
  position: relative;
  top: 0px;
}

div.videoContainerFake {
  background-color: #000000aa;
  border-width:2px;
  border-color:white;
}

div.videoDivMassive {
  background-color: #00000044;
  border-width:4px;
  border-color:red;
  display:none;
  position:absolute;
  /*
  top:-100px; left:100px; width:80%; height:80%; z-index:3; background-color:#222222aa;
  */
}

div.topDiv {
    height:80%;
}

p.controlsPara {
    position:relative;
    top:-6;
    left:25%;
    width:50%;
    height:15%;
    z-index:2;
}

p.emptyRoomLabel {
    position:relative;
    top:10px;
    left:20px;
    height:100px;
}

button.playButton {
    width:32px;
    height:32px;
    position:relative;
    left: 40%;
    top: 32px;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url(/content/img/unmute.png);
}

button.stopButton {
    width:32px;
    height:32px;
    position:relative;
    left: 95%;
    top:32px;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url(/content/img/stop.png);
}

button.exitButtonVisible {
    background-image:url(/content/img/exit.png);
    display:auto;
    background-position:center;
    background-repeat:no-repeat;
}

button.exitButtonNotVisible {
    display:none;
}

// TODO: not working dynamically setting classname yet
img.joinButtonVisible {
    background-image:url(/content/img/enter.png);
    display:auto;
    background-position:center;
    background-repeat:no-repeat;
}

img.joinButtonNotVisible {
    display:none;
}

img.poweredby {
    width:32px;
    height:32px;
}

button.retryButton {
    text:'retry';
    label:'retry';
    width:64px;
    height:24px;
    position:relative;
    left: 165px;
    background-position:center;
    background-repeat:no-repeat;
}

button.loadingButton {
    width: 128px;
    height: 96px;
    position: relative;
    left: 128px;
    top: -128px;
    z-index:2;
}

button.phButton {
    width: 240px;
    height:48px;
}


select.mediaSelect {
}

div.selectUser {
    height: 32px;
    width:100%;
}

iframe.chatFrame {
    border-width:2px;
    height:100%;
    width:100%;
}

body.chatIframeBody {
  width:120%;
}

@keyframes loadingAnimation {
    from {background-color: gray;}
    to {background-color: white;}
}

li.chatListElemLow {
    background-color: transparent;
    color:white;
}


li.chatListElem {
    background-color: transparent;
    color:white;
}

ul.chatLogParent {
  /*height:90%;*/
  padding-left:0;
  list-style-type: none;
}

img.backgroundImage {
    position: absolute;
    width:80%;
    height:80%;
    z-index:-3;
    object-fit:contain;
}

.col-container {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
}

textarea.chat {
    height:48px;
}

button.chatsend {
    width:64px;
    height:48px;
}

div.chatEntry {
    border-width:2px;
    border-color:white;
}
