body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}

td {
    margin:0;
    padding:0;
    border-collapse: collapse;
    display:inline-block;
    overflow:scroll;
}

table {
    margin:0;
    padding:0;
    border-collapse: collapse;
    display:inline-block;
    overflow:scroll;
}

video {
    width:320;
    height:240;
}

video.videoChild {
    width:128;
    height:96;
}

/*
video.videoLocal {
    width:320;
    height:240;
}
*/

video.videoMain {
    width:640;
    height:480;
}
