body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}

td {
    margin:0;
    padding:0;
    border-collapse: collapse;
    overflow:hidden;
    width:300px;
}

tr {
    overflow:hidden;
    height:400px;
}

table {
    margin:0;
    padding:0;
    border-collapse: collapse;
    display:inline-block;
    overflow:hidden;
    table-layout:fixed;
}

video {
    width:320;
    height:240;
    controls:true;
}

video.videoChild {
    width:128;
    height:96;
}

video.videoLocal {
    width:320;
    height:240; 
    z-index:-1;
}

video.videoMain {
    width:320;
    height:240;
    z-index:-1;
}

button.playButton {
    background-image:url('/img/play.png');
}

@keyframes loadingAnimation {
    from {background-color: gray;}
    to {background-color: white;}
}
