body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

td {
    margin:0;
    padding:0;
    border-collapse: collapse;
    display:inline-block;
}

table {
    margin:0;
    padding:0;
    border-collapse: collapse;
    display:inline-block;
}
